# registry=https://pkgs.dev.azure.com/zuru-media/b46b2fde-b88e-4342-a8ba-9bb7e5d96fa7/_packaging/MyTest1/npm/registry/
registry=https://pkgs.dev.azure.com/zuru-media/b46b2fde-b88e-4342-a8ba-9bb7e5d96fa7/_packaging/ZFEL_Feed/npm/registry/ 
always-auth=true