@import '/src/styles/fonts';
@import '@angular/cdk/overlay-prebuilt.css';

body {
  width: 100%;
  min-height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  // overflow-y: scroll;
  overflow-y: auto;
  // position: absolute;
  // -webkit-overflow-scrolling: touch;
  font-family: 'Outfit';
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;

  > h1 {
    text-align: center;
    font-size: 3.5em;
  }
}

.disable-control {
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: default !important;
  pointer-events: none;
}

.error-message {
  color: #FF0000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
